# Virtual environment
capix_env/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm project files
.idea/

# VS Code settings
.vscode/
